{% extends 'layouts/base.html' %}
{% block 'content' %}
<!-- Heading -->
    <div id="heading" >
        <h1>Thailand</h1>
    </div>

    <section class="wrapper">
        <div class="inner">
            <div class="highlights">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/6W8Vrrw-yFU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/3V6ky_lHvhY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/l8vS33OZvFU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/m_U86x8w1Bo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/y9ZIPa12j0k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/y9ZIPa12j0k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/mQNLSdikCqM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/4-DU2_CppKw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/yGqqwtKHTOY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/Ah8urcgsbq4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </section>

{% endblock %}