{% extends 'layouts/base.html' %}
{% block 'content' %}
<!-- Heading -->
    <div id="heading" >
        <h1>Explore Ukraine</h1>
    </div>
    <section class="wrapper">
        <div class="inner">
            <div class="highlights">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aF530bWU7h4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EjNqH1m4HTI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1DDufFDiFdg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aRGqJc7o_Xw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3Oc3hWDZSu4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iHP0q8jsxGU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </section>
{% endblock %}