<!DOCTYPE HTML>
<html>
	<head>
		<title>DmBart</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="{% url 'index' %}">Personal page</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'travel' %}">Around the World</a></li>
					<li><a href="{% url 'ukraine' %}">Explore Ukraine</a></li>
                    <!--<li><a href="{% url 'elements' %}">Elements</a></li>-->
				</ul>
			</nav>

        {% block 'content' %}
        {% endblock %}
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>Be yourself</h3>
                        <p>You’ve gotta dance like there’s nobody watching, Love like you’ll never be hurt, Sing like there’s nobody listening, And live like it’s heaven on earth. (William W. Purkey)</p>
                    </section>
                    <section>
                        <h4>Quotes</h4>
                        <ul class="alt">
                            <li><a href="#">Wisdom is knowing how little we know.</a></li>
                            <li><a href="#">Success is not in what you have, but who you are.</a></li>
                            <li><a href="#">Success does not come to you … you go to it.</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>Social networks</h4>
                        <ul class="plain">
                            <li><a href="{{ links.youtube }}"><i class="icon fa-youtube">&nbsp;</i>Youtube</a></li>
                            <li><a href="{{ links.facebook }}"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="{{ links.instagram }}"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="{{ links.github }}"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Dmytro Bartoshchuk
                </div>
            </div>
        </footer>

    <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/browser.min.js' %}"></script>
        <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>