{% extends 'layouts/base.html' %}
{% block 'content' %}
<!-- Heading -->
    <div id="heading" >
        <h1>Codding</h1>
    </div>
    <section class="wrapper">
        <div class="inner">
            <div class="highlights">
               <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                            <h3>Oops...</h3>
                        </header>
                        <p>Here will be codding section</p>
                    </div>
               </section>
        </div>
    </section>
{% endblock %}