{% extends 'layouts/base.html' %}
{% block 'content' %}
{% load static %}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Welcome to my personal page</h1>
					<p>Dmytro Bartoshchuk</p>
				</div>
				<video autoplay loop muted playsinline src="{% static 'images/thai.mp4' %}"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>What's going on?</h2>
						<p>Hope you'll find here something what you interested. Choose one of the sections below and enjoy.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="{% url 'travel' %}" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Around the world</h3>
								</header>
								<p>“Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all of one’s lifetime.” – Mark Twain</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Explore Ukraine</h3>
								</header>
								<p>"You thought that Ukraine is something simple. Ukraine is super. Ukraine is an exclusive." – Lina Kostenko</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Let's codding</h3>
								</header>
								<p>“Without requirements or design, programming is the art of adding bugs to an empty text file.” - Louis Srygley</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Notice</h2>
					<p>In any business the most important thing is to start. <br />
					    Remember: no one has been able to succeed planning!</p>
				</div>
			</section>

		<!-- Testimonials -->
			<!--<section class="wrapper">-->
				<!--<div class="inner">-->
					<!--<header class="special">-->
						<!--<h2>Faucibus consequat lorem</h2>-->
						<!--<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>-->
					<!--</header>-->
					<!--<div class="testimonials">-->
						<!--<section>-->
							<!--<div class="content">-->
								<!--<blockquote>-->
									<!--<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>-->
								<!--</blockquote>-->
								<!--<div class="author">-->
									<!--<div class="image">-->
										<!--<img src="../static/images/pic01.jpg" alt="" />-->
									<!--</div>-->
									<!--<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</section>-->
						<!--<section>-->
							<!--<div class="content">-->
								<!--<blockquote>-->
									<!--<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>-->
								<!--</blockquote>-->
								<!--<div class="author">-->
									<!--<div class="image">-->
										<!--<img src="../static/images/pic03.jpg" alt="" />-->
									<!--</div>-->
									<!--<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</section>-->
						<!--<section>-->
							<!--<div class="content">-->
								<!--<blockquote>-->
									<!--<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>-->
								<!--</blockquote>-->
								<!--<div class="author">-->
									<!--<div class="image">-->
										<!--<img src="../static/images/pic02.jpg" alt="" />-->
									<!--</div>-->
									<!--<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</section>-->
					<!--</div>-->
				<!--</div>-->
			<!--</section>-->
{% endblock %}
