{% extends 'layouts/base.html' %}
{% block 'content' %}
		<!-- Heading -->
			<div id="heading" >
				<h1>Around the world</h1>
			</div>

		<!-- Main -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Love travel?</h2>
						<p>Check my travel experience and hope it help you to open new horizons</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="{% url 'thai' %}" class="icon fa-flag-checkered"><span class="label">Icon</span></a>
									<h3>Thailand</h3>
								</header>
								<p>Relaxed atmosphere in Railay, amazing Phi Phi Islands, trail up to Dragon Crest, wonderful caves, kayaking, snorkeling  and many other.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="{% url 'srilanka' %}" class="icon fa-globe"><span class="label">Icon</span></a>
									<h3>Sri Lanka</h3>
								</header>
								<p>Unforgettable trip with a lot of adventures. Fort Galle, boat safari, turtle farm and extreme adventure in Rain Forest - Sinharaja.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="{% url 'poland' %}" class="icon fa-flag"><span class="label">Icon</span></a>
									<h3>Poland</h3>
								</header>
								<p>Wonderful country with great and interesting history. Historical places, amazing nature and great people.</p>
							</div>
						</section>
					</div>
				</div>
			</section>
{% endblock %}